MONGO_URI


TOKEN_SEC_KEY=

# Gemini AI Configuration
GEMINI_API_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=…
SMTP_PASS=…
REPORT_RECEIVER=…


SMTP_HOST=…
SMTP_PORT=…
SMTP_USER=…
SMTP_PASS=…

TWILIO_SID=…
TWILIO_TOKEN=…
TWILIO_FROM=…

# VNPAY Sandbox Configuration
VNP_TMN_CODE=…
VNP_HASH_SECRET=…
VNP_URL=…
VNP_API=…
VNP_RETURN_URL=…